.return {
  font-weight: 500;
  font-size: 16px;
  margin-left: 40px;
  margin-top: 20px;
  color: #98a2b3;
}





.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  font-weight: 500;
  width: 50px;
  height: 50px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #98a2b3;
  margin: 5px;
  text-align: center;
  font-size: 30px;
  color: #000000;
  /* Set input text color to black */
}

.input:focus {
  border: 1px solid #7400e0;
  outline: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}






/* Add these styles to verify.css */

.resend {
  color: #AD72FF;
  /* Default color */
  transition: color 0.3s ease;
  font-weight: 700;
}

.resend:enabled {
  color: #9012FF;
  font-weight: 700;
  /* Color when resend is enabled */
}


/* Utility class for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-color: 0;
}