/* *******Subject Progress Tracker******* */


.container {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 24px;
}

.Buttons {
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Buttons:hover {

    border: 1px solid #7400E03D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

}

.box1 {
    padding-top: 10px;

}

.IconContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.work {
    color: #667085;
    font-size: 12px;
    font-weight: 600;
    margin: 6px;
}

.totalMarks {
    color: #1D2939;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
}

.numerator {
    font-size: 28px;
    font-weight: 600;
    display: inline;
    color: #1C2536;
    margin-bottom: 10px;
}

.denominator {
    font-size: 16px;
    display: inline;
    color: #1C2536;
    margin-left: 1px;
    font-weight: 600;
}

/* Container for the progress value */
.progressValue {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64x;
    height: 64px;
}

/* Style for the SVG */
.circular {
    transform: rotate(360deg);
    width: 64px;
    height: 64px;
}

/* Style for the circle paths */
.circleBackground,
.circleProgress {
    fill: none;
    stroke-width: 3.5;
    stroke-linecap: round;
}

/* Background circle */
.circleBackground {
    stroke: #EDEFF6;
}

/* Progress circle */
.circleProgress {
    stroke: #7400E0;
    transition: stroke-dasharray 0.3s ease;
}

/* Label inside the circle */
.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    /* Font size of the label */
    text-align: center;
}



/* **********************************************XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX********************************************** */





/*ANNOUNCEMENTS COMPONENT*/
.announcementComp {
    background-color: rgb(166, 27, 235);
    display: flex;
    flex: 1;

}

.noAnnouncements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    display: none;
}

.noAnnouncement1 {
    font-size: 16px;
    font-weight: 700;
}


.noAnnouncement2 {
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
}


/*ANNOUNCEMENTS COMPONENT*/


/*TEST SERIES COMPONENT*/

.testSeriesComp {
    display: flex;
    flex: 1;
}

.beforeBuying {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    display: none;
}

.course1 {
    margin: 24px 12px 24px 24px;
}

.course2 {
    margin: 24px 24px 24px 12px;
}

.suggestion {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    /* Adjust as per your requirement */
    left: 20px;
    /* Adjust as per your requirement */
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.8);
    /* Slight transparency for effect */
    font-size: 12px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 41px;
    padding: 4px 10px;
    z-index: 10;
    /* Ensure it stays on top */
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.suggestionIcon {
    margin-right: 5px;
}

.courseInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid #EAECF0;
    border-top: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.aboutCourse {
    margin-top: 16px;
}

.courseName {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 16px;
}

.courseLength {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #667085;
    display: flex;
    align-items: center;
    gap: 4px;
    /* Add a gap between elements */
}

.coursePrice {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}

.courseAmount {
    display: flex;
    align-items: end;
}

.buyButton {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 14px 10px 14px;
    border-radius: 6px;
    border: 2px solid #9012FF;
    color: #9012FF;
}

.course1,
.course2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0.5;
    border-radius: 12px;
    position: relative;
    /* Ensures .suggestion is positioned within this container */
    overflow: hidden;
    /* Hide anything overflowing when shrinking */
    transition: transform 0.3s ease;
}

.courseLength,
.coursePrice {
    margin-left: 16px;
    margin-right: 16px;
}

.courseLength,
.coursePrice,
.courseAmount {
    display: flex;
    flex-direction: row;
}


/*TEST SERIES COMPONENT*/


/* COURSE COMPONENT */

.courseComp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}


/* COURSE COMPONENT */



/*ANNOUNCEMENTS COMPONENT*/