/* ********Subject Progress Tracker******** */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.Buttons {
    background-color: #FFFFFF;
    border: 2px solid #EAECF0;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth hover transition */
}

.IconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.work {
    color: #667085;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}


.progressValue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #eaeef0;
    margin-top: 20px;
}

.progressValue span {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: absolute;
    text-align: center;
}

.totalMarks {
    font-size: 16px;
    color: #6b7280;
    margin-top: 10px;
}

.progressValue[data-value="0"] {
    border-color: #8c8c8c;
}

.progressValue[data-value="100"] {
    border-color: purple;
}


/* **********XXXXXXXXXX********** */





/*ANNOUNCEMENTS COMPONENT*/

.Announcements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.noAnnouncement1 {
    font-size: 16px;
}



/*ANNOUNCEMENTS COMPONENT*/