/* ********Subject Progress Tracker******** */
.subjectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns layout */
    gap: 20px;
    /* Space between the buttons */
    padding: 20px;
}

.subjectCard {
    background-color: #FFFFFF;


    border: 2px solid #EAECF0;


    padding-right: 24px;
    padding-left: 24px;
    padding-top: 30px;
    padding-bottom: 30px;


    border-radius: 12px;
    border: 1px 0px 0px 0px;





    display: flex;
    align-items: center;
    justify-content: center;


    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth hover transition */
}

.subjectCard:hover {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
    /* Shadow increase on hover */
    transform: translateY(-3px);
    /* Slight lift on hover */
}



/* **********XXXXXXXXXX********** */





/*ANNOUNCEMENTS COMPONENT*/

.Announcements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.noAnnouncement1 {
    font-size: 16px;
}

/*ANNOUNCEMENTS COMPONENT*/