/* ********Subject Progress Tracker******** */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 20px;
    /* Space between the cards */
    padding: 20px;
}

.overall {
    background-color: #fff;
    /* White background */
    border: 1px solid #e0e0e0;
    /* Light grey border */
    border-radius: 12px;
    /* Rounded corners */
    height: 150px;
    /* Adjust height */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    /* Subtle shadow for depth */
}



/* **********XXXXXXXXXX********** */





/*ANNOUNCEMENTS COMPONENT*/

.Announcements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.noAnnouncement1 {
    font-size: 16px;
}

/*ANNOUNCEMENTS COMPONENT*/