/* ********Subject Progress Tracker******** */
.container {

    border: 1px solid #e0e0e0;
}

.overall {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border: 2px solid #ffffff;


}



/* **********XXXXXXXXXX********** */





/*ANNOUNCEMENTS COMPONENT*/

.Announcements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.noAnnouncement1 {
    font-size: 16px;
}

/*ANNOUNCEMENTS COMPONENT*/