/* components/Announcements.module.css */

.announcementContainer {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.announcement {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.textContent h4 {
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.textContent span {
    font-size: 0.75rem;
    color: #888;
}

.textContent h3 {
    font-size: 1.25rem;
    margin: 5px 0;
    color: #000;
}

.textContent p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}