.main {
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    /* Important to position .announce1 inside .main */
}

.announce1 {
    position: absolute;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* To align items vertically */
    gap: 10px;
    /* Adds space between elements */
}

.admin1 {
    width: 372px;
    height: 96px;
    margin-top: 73px;
    margin-left: 24px;
    gap: 0px;
    opacity: 0px;


}