.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 25px 20px 25px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
}

.nameSection {
    display: flex;
    flex-direction: row;
}

.nameInfo {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    margin-bottom: 10px;
}

.dp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.editProfile {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.editProfileButton {
    border: 1px solid black;
    border-radius: 5px;
}

.id {
    display: flex;
    flex-direction: row;
}

.copyButtons {
    display: flex;
    flex-direction: row;
}

.examSection {
    display: flex;
    flex-direction: row;
}

.enrolledExams {
    display: flex;
    flex: 0.5;
}

.updateIcon {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.updateIconButton {
    border: 1px solid black;
    border-radius: 5px;
}

.dividerLine {
    color: blue;
}

.detailitem {
    display: flex;
    align-items: center;

    padding: 15px 0;

}

.Name,
.Email,
.Phone,
.year {
    color: #1D2939;
    font-weight: 500;
}

.value {
    margin-left: 799px;
}

/* styles/ProfilePage.module.css */


.hidden {
    display: none;
}