.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 25px 20px 25px;
}

.nameSection {
    display: flex;
    flex-direction: column;
    background: red;
}

.nameInfo {}

.divider {
    margin-top: 50px;
}

.dividerLine {
    color: blue;
}



.detailitem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    padding: 15px 0;
    margin: 24px;

}