.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 25px 20px 25px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
}

.nameSection {
    display: flex;
    flex-direction: row;
}

.nameInfo {
    display: flex;
    flex-direction: row;
    flex: 0.5;
}

.editProfile {
    display: flex;
    flex: 0.5;
}

.id {
    display: flex;
    flex-direction: row;
}

.examSection {
    display: flex;
    flex-direction: row;
}

.enrolledExams {
    display: flex;
    flex: 0.5;
}

.updateIcon {
    display: flex;
    flex: 0.5;
}

.dividerLine {
    color: blue;
}

.detailitem {
    display: flex;
    align-items: center;

    padding: 15px 0;

}

.Name,
.Email,
.Phone,
.year {
    color: #1D2939;
    font-weight: 500;
}

.value {
    margin-left: 799px;
}