.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 25px 0px 25px;
    overflow-y: auto;
    padding-bottom: 70px;
}

.info {
    display: flex;
    flex-direction: column;
}

.nameSection {
    display: flex;
    flex-direction: row;
}

.nameInfo {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    margin-bottom: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.changeRemove {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adjust gap between the buttons if needed */
}

.dp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.changeButton,
.removeButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.changeButton {
    margin-left: auto;
    /* Aligns the "Change" button to the right */
}

.removeButton {
    margin-right: 0;
    /* Keeps the "Remove" button next to the "Change" button */
}

.changeButton:hover,
.removeButton:hover {
    background-color: #f0f0f0;
    /* Light grey background on hover */
}

.editProfile {
    display: flex;
    align-items: start;
    justify-content: right;
    flex: 0.5;
}

.editProfileButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.id {
    display: flex;
    flex-direction: row;
}

.actualId {
    display: flex;
    flex-direction: row;
}

.copyButtons {
    display: flex;
    flex-direction: row;
}

.examSection {
    display: flex;
    flex-direction: row;
}

.enrolledExams {
    display: flex;
    flex: 0.5;
}

.updateIcon {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.updateIconButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.name {
    display: flex;
    flex-direction: row;
}

.label {
    display: flex;
    flex: 0.5;
}

.username {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.UserDetail {
    display: flex;
    flex-direction: column;
}

.updateName,
.updateEmail,
.updateMob,
.updateYear {
    display: flex;
    flex: 1;
    justify-content: right;
    right: 0px;
}

#input {
    border: 1px solid black;
}

.bottomDivider {
    width: 100%;
}

.base {
    position: fixed;
    bottom: 27px;
    left: 246px;
    right: 27px;
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
}

.insideBase {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cancleButton {
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 10px 20px;
    background: transparent;
    color: #374151;
    cursor: pointer;
    font-size: 14px;
}

.saveChangesButton {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: #7400E0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.saveChangesButton:hover {
    background-color: #5e00b3;
}

/*THIS BELOW CSS CODE IS USED FOR TARGET.TSX*/
.ExamType {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}



.button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    color: #344054;

}

.red {
    background-color: #f44336;
}

.orange {
    background-color: #ff9800;
}

.green {
    background-color: #4caf50;
}

.blue {
    background-color: #2196f3;
}