.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 25px 20px 25px;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
}

.nameSection {
    display: flex;
    flex-direction: row;
}

.nameInfo {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    margin-bottom: 10px;
}

.dp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.changeRemove {
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    background: red;
}

.editProfile {
    display: flex;
    align-items: start;
    justify-content: right;
    flex: 0.5;
}

.editProfileButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.id {
    display: flex;
    flex-direction: row;
}

.copyButtons {
    display: flex;
    flex-direction: row;
}

.examSection {
    display: flex;
    flex-direction: row;
}

.sizeRecommendation {
    position: absolute;
}

.enrolledExams {
    display: flex;
    flex: 0.5;
}

.updateIcon {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.updateIconButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.name {
    display: flex;
    flex-direction: row;
}

.label {
    display: flex;
    flex: 0.5;


}

.username {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.UserDetail {
    display: flex;
    flex-direction: column;
}