.container {
    display: flex;
    flex: 1;
    margin: 20px 25px 20px 25px;
}

.divider {
    /* margin-top: 5px; */
    margin-left: 25px;
    margin-right: 25px;
}

.dividerLine {
    border-top: 1px solid #EAECF0;
}