.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mainProfileContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    overflow-y: scroll;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.nameSection {
    display: flex;
    flex-direction: row;
}

.nameInfo {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    margin-bottom: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.changeRemove {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adjust gap between the buttons if needed */
}

.dp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.proffilename {
    color: #1D2939;
    font-weight: 600;
}

.changeButton,
.removeButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.changeButton {

    border: 1.5px solid #EAECF0;
    box-shadow: 0 0 0 0px #EAECF0;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    color: #1D2939;
    font-weight: 600;



    /* Aligns the "Change" button to the right */
}


.removeButton {
    margin-right: 0;
    color: #1D2939;
    font-weight: 600;
    border: 1.5px solid #EAECF0;
    box-shadow: 0 0 0 0px #EAECF0;

    /* Keeps the "Remove" button next to the "Change" button */
}

.changeText {
    margin-right: 10px;
    overflow: hidden;
}

.changeButton:hover,
.removeButton:hover {
    background-color: #f0f0f0;
    /* Light grey background on hover */
}

.editProfile {
    display: flex;
    align-items: start;
    justify-content: right;
    flex: 0.5;
    color: #1D2939;
    font-weight: 600;

}

.editProfileButton {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    border: 1.5px solid #EAECF0;
    box-shadow: 0 0 0 0px #EAECF0;
    display: flex;
    flex-direction: row;
    margin-left: 5px;

}

.editIcon {
    margin-right: 5px;
}

.id {
    display: flex;
    flex-direction: row;
}

.actualId {
    display: flex;
    flex-direction: row;
}

.copyButtons {
    display: flex;
    flex-direction: row;
}

.examSection {
    display: flex;
    flex-direction: row;
}

.enrolledExams {
    display: flex;
    flex: 0.5;
}

.updateIcon {
    display: flex;
    justify-content: right;
    flex: 0.5;
}

.updateIconButton {
    border: 1px solid #EAECF0;
    border-radius: 5px;
    padding: 10px;
    max-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.divider {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 10px;
}

.name {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 10px;
}

.label {
    display: flex;
    flex: 0.5;
}

.username {
    display: flex;
    justify-content: right;
    flex: 0.5;
    color: #667085;
    font-size: 16px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.UserDetail {
    display: flex;
    flex-direction: column;
}

.updateName,
.updateEmail,
.updateMob,
.updateYear {
    display: flex;
    flex: 1;
    justify-content: right;
    right: 0px;
}

.updateNameButton,
.updateEmailButton,
.updateMobButton,
.updateYearButton {
    border: 1px solid #EAECF0;
    border-radius: 5px;
    padding: 10px;
    max-height: 40px;
    font-size: 14px;
    font-weight: bold;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    text-indent: 5px;
    padding: 10px;
}

.afterEdit {
    font-size: 14px;
    font-weight: 600;
}

.base {
    pos display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 80px;
    border-top: 1px solid grey;
}

.insideBase {
    display: flex;
    flex-direction: row;
}

.cancleButton {
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 10px 20px;
    background: transparent;
    color: #374151;
    cursor: pointer;
    font-size: 14px;
}

.saveChangesButton {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-right: 30px;
    margin-left: 15px;
    background-color: #7400E0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.saveChangesButton:hover {
    background-color: #5e00b3;
}

/*THIS BELOW CSS CODE IS USED FOR TARGET.TSX*/
.ExamType {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    background-color: #fff;
    font-size: 14px;
    color: #344054;
    cursor: pointer;
    font-weight: 500;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.red {
    background-color: #f44336;
}

.orange {
    background-color: #ff9800;
}

.green {
    background-color: #4caf50;
}

.blue {
    background-color: #2196f3;
}