.content {
    display: flex;
    align-items: stretch;
    /* Ensure child divs stretch to the height of the parent */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #FFFFFF;
    border: 0.5px solid #E5E7EB;
}

.content1-box {
    width: 300px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 2px solid #E5E7EB;
}

.content2-box {
    flex: 1;
    /* Fills the remaining space */
    background-color: #FFFFFF;
    padding: 20px;
    /* Adds padding inside the content area */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    /* Remove left border to avoid overlap with content1-box */
    border: 2px solid #E5E7EB;
}





.my-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 50px;
    margin: 20px;
    background-color: #F5F5FF;

    border-radius: 10px;
    border: 2px solid #D9D9FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-left: 15px;
    border-color: #E5E7EB;
    color: #7400E0;

}

.my-profile.active,
.my-profile:hover {
    background-color: #DDCDFF;

    border-color: #DDCDFF;

    color: #7400E0;

}

.my-profile.active .profile-icon,
.my-profile:hover .profile-icon {
    filter: brightness(0) invert(1);

}

.purchase-history {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 50px;
    margin: 20px;
    background-color: #F5F5FF;

    border-radius: 10px;
    border: 2px solid #D9D9FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-left: 15px;
    border-color: #E5E7EB;
    color: #7400E0;

}

.purchase-history.active,
.purchase-history:hover {
    background-color: #DDCDFF;

    border-color: #DDCDFF;
    color: #7400E0;
}


.purchase-history.active .purchase-icon,
.purchase-history:hover .purchase-icon {
    filter: brightness(0) invert(1);
}