@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Inter:wght@400;500;600&family=Sora:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f8fb;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading .head {
  font-family: 'Sora', sans-serif;
  font-size: 24px;
  /* Example size */
  font-weight: 700;
}

/* Example for other headings if needed */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

/* Ensure that other text elements use Poppins */
p,
span,
div {
  font-family: 'Poppins', sans-serif;
}

/* Custom scrollbar styles */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(234, 236, 240, 1);
  ;

  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: "white";

}

/* THIS IS FOR TEXT-EDITOR IN DISSCUSSION TAB --------------------------*/
.custom-quill .ql-container {
  border: none !important;
  /* Remove the border from the container */
}

.custom-quill .ql-editor {
  border: none !important;
  /* Ensure no border around the editor */
}

.custom-quill:focus {
  outline: none;
  /* Remove outline on focus */
}

.custom-quill .ql-editor {
  font-size: 16px;
  /* Set text size to 16px */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  /* Use the Poppins font */

}

.custom-quill .ql-editor:empty::before {

  /* Show placeholder */
  color: #667085;
  /* Placeholder color */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  /* Poppins font for placeholder */
  font-size: 16px;
  /* Placeholder size */
  position: absolute;
  /* Position it absolutely */
  left: 10px;
  /* Adjust according to your padding */
  top: 10px;
  /* Adjust according to your padding */
  pointer-events: none;
  /* Prevent interaction */
}

.custom-quill .ql-editor:focus::before {
  display: none;
  /* Hide placeholder on focus */
}

/* -------------------------------------------------- */
/* FOR TOOLTIP FOR TEST PAGE ONLY ->learn Tab */


.tooltipText {
  position: absolute;
  color: white;
  bottom: 125%;
  /* Position above the button */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Adjust to center the tooltip */

  z-index: 3;
  background-color: #131313;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  /* Padding inside the tooltip */
  width: 204px;
  /* Fixed width */
  height: auto;
  /* Hug content (height grows with content) */
  min-height: 78px;
  /* Minimum height */
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: normal;
  /* Allow text wrapping for longer content */
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.tooltip:hover .tooltipText {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -10px);
  /* Move tooltip slightly up on hover */
}

.drawer-overlay {
  background-color: transparent !important;
  /* Makes the overlay transparent */
}





@layer base {
  :root {
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.phoneinputcontainer:hover input {
  border-color: #D6BBFB;
  box-shadow: 0px 0px 0px 4px rgba(158, 119, 237, 0.12);
}

.phoneinputcontainer input:focus {
  border-color: #D6BBFB;
  box-shadow: 0px 0px 0px 4px rgba(158, 119, 237, 0.12);
}