.headerInfo {
    margin-left: 3px;
    margin-right: 3px
}











.headerButton {
    width: 32px;
    height: 32px;
    background-color: #F7F8FA;
    border: 1.5px solid #EAECF0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerName {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: -2px;
}

.headerEmail {
    font-size: 13px;
    color: #667085;
}

.help {
    margin-right: 10px;
}



.myProfButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoutProfButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.profPopupIcon {
    margin-right: 8px;
}

.profPopupText1 {
    font-size: 14px;
}

.profPopupText2 {
    font-size: 14px;
    color: #DE3024;
}

.profilePopup {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: 180px;
    box-shadow: 0px 2px 4px #EAECF0;
}

.profileChildLyt {
    display: flex;
    flex-direction: row;
    align-items: center;
}