/* Adjusted styles */
.tabComps {
    position: relative;
    /* Set relative position for absolute positioning of button */
    display: flex;
    flex-direction: column;
    width: 220px;
    transition: width 0.3s ease;
    /* Smooth transition for collapse */
    padding: 10px 0px 10px 10px;

}

.collapsed {
    width: 55px;
    /* Adjust the width when collapsed */
}

.profilePic {
    border-radius: 50%;
    margin-right: 10px;

}

.headerInfo {
    margin-left: 3px;
    margin-right: 3px
}

.arrowButton {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-bottom: 2px;
}

.arrowIcon {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
}

.divider1 {
    width: 1.5px;
    /* centred margin */
    height: 14px;
    /* thickness of the line */
    background-color: #eaecf0;
    /* colour of the line */
    border: none;
    margin-left: 14px;
    margin-right: 14px;
}

.notification {
    display: flex;
    flex-direction: column;
    position: relative;
}

.notificationIndicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF6262;
    border-radius: 100px;
    margin-left: 22px;
    margin-top: 1px;
    border: 1px solid white;
}

.notificationDropDownLyt {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 360px;
    box-shadow: 0px 2px 4px #EAECF0;

}

.notiText {
    font-weight: 600;
    font-size: 15px;
}

.notiText2 {
    font-weight: 600;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.markAllText {
    color: #7400e0;
    font-size: 12px;
    font-weight: 600;
    margin-top: 1px;
}

.notiHeadLyt {
    margin-left: 14px;
    margin-right: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notiDivider {
    width: auto;
    height: 1px;
    background-color: #F2F4F7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.emptyNotificationLyt {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.collapseButton {
    position: absolute;
    top: 55px;
    left: 101%;
    /* Position right outside the sidebar */
    transform: translateX(-7px);
    /* Center the button horizontally */
    background: white;
    border: 1px solid #eaecf0;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 1.5px solid #E9EBF0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.headerButton {
    width: 32px;
    height: 32px;
    background-color: #F7F8FA;
    border: 1.5px solid #EAECF0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerName {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: -2px;
}

.headerEmail {
    font-size: 13px;
    color: #667085;
}

.help {
    margin-right: 10px;
}

.profileParentLyt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.myProfButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoutProfButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.profPopupIcon {
    margin-right: 8px;
}

.profPopupText1 {
    font-size: 14px;
}

.profPopupText2 {
    font-size: 14px;
    color: #DE3024;
}

.profilePopup {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: 180px;
    box-shadow: 0px 2px 4px #EAECF0;
}

.profileChildLyt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greeting {
    font-size: 18px;
}

.headtab {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    background: #FFFFFF;
    height: 65px;
    border-radius: 5px 5px 0 0;
    border-width: 1px;
    border-bottom-color: #e9ebf0;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;

}

.collapseIconRight {
    /* padding: 2px;*/
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.collapseIconLeft {
    /* padding: 2px;*/
    margin-right: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.theSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 5px;
    width: 2rem;
    height: 2rem;
    background: #3c2f40;
    color: white;
    font-weight: bolder;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.logo {
    overflow: hidden;
}

.phoduLogo {
    position: absolute;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 9px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.phodu {
    color: white;
    overflow: hidden;
}

.club {
    color: #e29ff5;
    overflow: hidden;
}

.tabComps:not(.collapsed) .theSymbol {
    display: none;
}

.collapsed .phoduLogo {
    display: none;
}

.divider {
    margin-top: 59px;
    margin-bottom: 2rem;
    margin-left: 5px;
    /* Ensure the divider does not hide */
    opacity: 1;
    transition: opacity 0.3s ease;

}

.actualDivider {
    border: none;
    border-top: 1px solid #E2E5E91A;
    /* Set the divider line color to blue */
}



/* Content transitions for smooth collapse, without affecting divider */
.logo,
.divider,
.tabs {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.DashboardButton,
.LearnButton,
.CommunitiesButton,
.AnalyticsButton,
.SettingsButton {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* padding: 5px; */
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease;
    overflow: hidden;
}

.DashboardButton:not(.active):hover,
.LearnButton:not(.active):hover,
.CommunitiesButton:not(.active):hover,
.AnalyticsButton:not(.active):hover,
.SettingsButton:not(.active):hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Ensure text color is red for inactive buttons */
.DashboardButton:not(.active) .text,
.LearnButton:not(.active) .text,
.CommunitiesButton:not(.active) .text,
.AnalyticsButton:not(.active) .text,
.SettingsButton:not(.active) .text {
    color: #a8afb7;

    /* Change inactive text color to red */
}

/* Ensure text color is white for active buttons */
.DashboardButton.active .text,
.LearnButton.active .text,
.CommunitiesButton.active .text,
.AnalyticsButton.active .text,
.SettingsButton.active .text {
    color: white;
    /* Or your preferred color for active text */
}

.dashboardIcon,
.learnIcon,
.communitiesIcon,
.analyticsIcon,
.settingsIcon {
    margin-left: 10px;
    margin-right: 10px;
}

.active {
    background-color: #7400e0;

    /* Active button background color */
}

.text {
    color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* ********************TOOL TIP************************ */



/* Existing styles */

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltipText {
    position: absolute;
    top: 50%;
    left: calc(-100% - 15px);
    /* Adjust to move the tooltip left */
    transform: translateY(-50%);
    z-index: 3;
    background-color: #7400e0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

/* Add the arrow */
.tooltipText::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    /* Position arrow on the left of the tooltip */
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #7400e0;
}

.tooltip:hover .tooltipText {
    opacity: 1;
    pointer-events: auto;
}