/* Adjusted styles */
.tabComps {
    position: relative;
    /* Set relative position for absolute positioning of button */
    display: flex;
    flex-direction: column;
    width: 220px;
    transition: width 0.3s ease;
    /* Smooth transition for collapse */
    padding: 10px 0px 10px 10px;

}

.collapsed {
    width: 55px;
    /* Adjust the width when collapsed */
}

.collapseButton {
    position: absolute;
    top: 55px;
    left: 101%;
    /* Position right outside the sidebar */
    transform: translateX(-7px);
    /* Center the button horizontally */
    background: white;
    border: 1px solid #eaecf0;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 1.5px solid #E9EBF0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.collapseIconLeft {
    padding-left: -3px;
    padding-right: 3px;
}

.headerButton {
    width: 32px;
    height: 32px;
    background-color: #E9EBF0;
    border: 1px solid #eaecf0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help {
    margin-right: 8px;
}

.headtab {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #FFFFFF;
    height: 60px;
    border-radius: 5px 5px 0 0;
    margin: auto;
    border-width: 1px;
    border-bottom-color: #e9ebf0;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-left-color: #FFFFFF;
}

.collapseIconRight {
    padding: 2px;
    margin-left: 3.8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.collapseIconLeft {
    padding: 2px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.theSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 5px;
    width: 2rem;
    height: 2rem;
    background: #3c2f40;
    color: white;
    font-weight: bolder;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.logo {
    overflow: hidden;
}

.phoduLogo {
    position: absolute;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 9px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.phodu {
    color: white;
    overflow: hidden;
}

.club {
    color: #e29ff5;
    overflow: hidden;
}

.tabComps:not(.collapsed) .theSymbol {
    display: none;
}

.collapsed .phoduLogo {
    display: none;
}

.divider {
    margin-top: 59px;
    margin-bottom: 2rem;
    margin-left: 5px;
    /* Ensure the divider does not hide */
    opacity: 1;
    transition: opacity 0.3s ease;

}

.actualDivider {
    border: none;
    border-top: 1px solid #E2E5E91A;
    /* Set the divider line color to blue */
}



/* Content transitions for smooth collapse, without affecting divider */
.logo,
.divider,
.tabs {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.DashboardButton,
.LearnButton,
.CommunitiesButton,
.AnalyticsButton,
.SettingsButton {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* padding: 5px; */
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease;
    overflow: hidden;
}

.DashboardButton:not(.active):hover,
.LearnButton:not(.active):hover,
.CommunitiesButton:not(.active):hover,
.AnalyticsButton:not(.active):hover,
.SettingsButton:not(.active):hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Ensure text color is red for inactive buttons */
.DashboardButton:not(.active) .text,
.LearnButton:not(.active) .text,
.CommunitiesButton:not(.active) .text,
.AnalyticsButton:not(.active) .text,
.SettingsButton:not(.active) .text {
    color: #a8afb7;

    /* Change inactive text color to red */
}

/* Ensure text color is white for active buttons */
.DashboardButton.active .text,
.LearnButton.active .text,
.CommunitiesButton.active .text,
.AnalyticsButton.active .text,
.SettingsButton.active .text {
    color: white;
    /* Or your preferred color for active text */
}

.dashboardIcon,
.learnIcon,
.communitiesIcon,
.analyticsIcon,
.settingsIcon {
    margin-left: 10px;
    margin-right: 10px;
}

.active {
    background-color: #7400e0;

    /* Active button background color */
}

.text {
    color: white;
    transition: opacity 0.3s ease, transform 0.3s ease;
}