/* General layout styling */
.mainContent {
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 0.5px solid #E5E7EB;
    border-radius: 10px;
    margin: 24px 24px 24px 24px;
}

.content1-box {
    width: 22%;
    /* min-width: 100px; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #E5E7EB;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.content2-box {
flex: 1;
   background-color: #FFFFFF;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-color: #E5E7EB;
    overflow: hidden;
}