.messageComp {
    display: flex;
    flex-direction: column;
    margin: 24px 24px 24px 24px;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-direction: row;
}

.theSub {
    display: flex;
    flex-direction: row;
}

.progresses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Ensure the progress bar and percentage are vertically aligned */
    margin-top: 8px;
    /* Add some space between the header and progress */
}

.progressBar {
    position: relative;
    width: 86%;
    background-color: #EDEFF6;
    height: 8px;
}

.progressFill {
    height: 100%;
    background-color: #7400E0;
    /* Purple color for the progress */
    border-radius: 100px;
    transition: width 0.3s ease;
    /* Smooth transition for the progress change */
}

.progressPercent {
    /* margin-left: 30px; Some spacing between the progress bar and the percentage */
    font-size: 14px;
    font-weight: 400;
}

.theScores {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EAECF0;
}

.outoff {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.scoreText {
    display: flex;
    justify-content: center;
}