.homeContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    color: #1D2939;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.viewAll{
    font-size: 14px;
    font-weight: 600;
    color: #7400E0;
}

/*TOP COLUMN*/

.topColumn{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.progressTracker{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    flex: 1;
    margin: 5px 10px 10px 10px;
    border-radius: 12px;
}

.progress{
    display: flex;
    flex: 1;
}

.announcementBlock{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF;
    margin: 5px 10px 10px 10px;
    border-radius: 12px;
}

.announcements{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
    border-radius: 0px 0px 12px 12px;
}

/*xxxxxxxxxxxxxxxxx**************xxxxxxxxxxxx*/

/*bottom column*/

.bottomColumn{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.testSeriesBlock{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF;
    margin: 10px 10px 5px 10px;
    border-radius: 12px;
}

.testSeries{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 0px 0px 12px 12px;
}

.course{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF;
    margin: 10px 10px 5px 10px;
    border-radius: 12px;
}

.courses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 0px 0px 12px 12px;
}

/*++++++++++++++++****************++++++++++++++++*/


