.body {
    height: 100vh;
    background-color: #131313;
    display: flex;
    flex-direction: row;
}

.tabs {
    width: 220px;
    transition: width 0.3s ease, padding 0.3s ease;
    margin-top: 0px;

}

.logo {
    display: flex;
    flex-direction: row;
}

.phodu-logo {
    padding-left: 12px;
    font-size: large;
}

.icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.phodu {
    font-weight: bold;
}

#club {
    font-weight: bold;
    color: #e29ff5;
}

.phodu-club symbol {
    margin: 0px;
    display: flex;
    justify-content: start;
}

.side_bar {
    position: relative;
}

.sidebar-icon {
    position: absolute;
    right: -7px;
    top: 3.4rem;
    border: none;
    background-color: #fff;
    width: 1rem;
    height: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 11px;
    padding-right: 13px;
}

.divider {
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 3px;
    margin-bottom: 23px;
}

.divider-line {

    border: 1px solid #E2E5E91A
}

.dashboard,
.learn,
.communities,
.analytics,
.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-left: 12px;
}

.dashboard-icon,
.learn-icon,
.community-icon,
.analytics-icon,
.setting-icon {
    margin-right: 12px;
    display: flex;

    justify-content: center;
}

.tabs div {
    margin-right: 4px;
    padding-bottom: 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.tabs div.active {
    background-color: #8501FF;
    color: white;
}

.text-label {
    display: inline-block;
    transition: opacity 0.3s ease;
}

.contents {
    width: 100%;
    padding: 7px;
}

.content-box {
    background: #eaecf0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: black;
    min-width: 480px;
}

.headtab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f7f8fb;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
}



.greeting {
    width: 100%;
}

#Head-text {
    font-weight: bold;

}

.notify,
.Question Mark {
    width: 50px;
    align-items: right;
}

.dp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actual-dp {
    background: #e29ff5;
    font-weight: bold;
    color: #7a208a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 8px;
}

.actual-dp:hover,
.actual-dp:active {
    cursor: pointer;
    opacity: 0.5;
}

.name {
    font-size: small;
    font-weight: bold;
}

.email {
    font-size: x-small;
    color: #667085;
}

[data-collapse="true"] {
    width: 60px;
    transition: width 0.3s ease;
}

[data-collapse="true"] .phodu-logo {
    display: none;
}

[data-collapse="true"] .text-label {
    opacity: 0;
    pointer-events: none;
}

.tabs[data-collapse="true"] .dashboard-icon,
.tabs[data-collapse="true"] .learn-icon,
.tabs[data-collapse="true"] .community-icon,
.tabs[data-collapse="true"] .analytics-icon,
.tabs[data-collapse="true"] .setting-icon {
    margin-right: 0;
}




[data-collapse="true"] .sidebar-icon {
    transform: rotate(180deg);
}



/* Default state when sidebar is not collapsed */
[data-collapse="false"] .phodu-icon {
    display: none;
    /* Hide the phodu-icon by default */
}

[data-collapse="false"] .phodu-logo {
    display: block;
    /* Show the phodu-logo by default */
}

/* State when sidebar is collapsed */
[data-collapse="true"] .phodu-icon {
    display: block;
    /* Show the phodu-icon when sidebar is collapsed */
}

[data-collapse="true"] .phodu-logo {
    display: none;
    /* Hide the phodu-logo when sidebar is collapsed */
}

[data-collapse="true"] .sidebar-icon {
    transform: rotate(180deg);
}