.body {
    height: 100vh;
    background-color: #1d2939;
    display: flex;
    flex-direction: row;
}

.background {
    background-color: #eaecf0;
}

.tabs {
    width: 250px;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 8px;
}

.phodu-logo {
    width: 100%;
}

.icon {
    width: 20px;
    align-items: right;
}

.collapse-icon {}

.divider {
    margin-top: 23px;
    margin-left: 10px;
    margin-right: 3px;
    margin-bottom: 23px;
}

.divider-line {
    border-top: 1px solid #24354a;
}

.dashboard {
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 4px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
    background: #7400e0;
}

.learn {
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 4px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.communities {
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 4px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.analytics {
    margin-bottom: 13px;
    margin-left: 12px;
    margin-right: 4px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.settings {
    margin-left: 12px;
    margin-right: 4px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.contents {
    width: 100%;
    padding: 7px;

}

.content-box {
    background: #eaecf0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: black;

}

.headtab {
    display: flex;
    flex-direction: row;
    background: #f7f8fb;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
}

.hi {
    font-weight: bold;
}

.greeting {
    width: 100%;
}

.notify {

    width: 50px;
    align-items: right;

}

.Question Mark {
    width: 50px;

    align-items: right;
}